@model Summer.Models.Student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdvanceLevel)
        </dt>

        <dd>
           @{
               if (Model.AdvanceLevel == null)
               {
                   @Html.ActionLink("Add ALevels", "Create", "AdvanceLevels", new {id = Model.StudentId}, null)
               }
               else
               {
                   @Html.ActionLink("See ALevels", "Details", "AdvanceLevels", new {id = Model.StudentId}, null)
               }
           }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrdinaryLevel)
        </dt>

        <dd>
            @{
                if (Model.OrdinaryLevel == null)
                {
                    @Html.ActionLink("Add ALevels", "Create", "OrdinaryLevels", new {id = Model.StudentId}, null)
                }
                else
                {
                    @Html.ActionLink("See ALevels", "Details", "OrdinaryLevels", new {id = Model.StudentId}, null)
                }
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.School)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.School)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FutureCareerChoice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FutureCareerChoice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearOfAttendance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearOfAttendance)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
