@model IEnumerable<Summer.Models.OrdinaryLevel>

@{
    ViewBag.Title = "Index";
}

<h2> Olevels</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Student.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject_1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject_2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject_3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject_4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject_5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject_6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject_7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject_8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject_9)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject_10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject_11)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject_1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject_2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject_3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject_4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject_5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject_6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject_7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject_8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject_9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject_10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject_11)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Back to List", "Index", "Students")