@model Summer.Models.AdvanceLevel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AdvanceLevel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject_3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject_3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject_4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject_4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject_5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject_5)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color id="form">
            <input type="button" value="Delete" class="btn btn-default btn-danger" id="Btn" /> |
            @Html.ActionLink("Back to List", "Index", "Students")
        </div>
    }
</div>
@section scripts

{
    <script>

        $("#Btn").on('click', function() {



            bootbox.confirm({
                    message: "Do U confirm? This cannot be undone",
                    buttons: {
                        confirm: {
                            label: 'Confirm',
                            className: 'btn-lg btn-danger'
                        },
                        cancel: {
                            label: 'Reject',
                            className: 'btn-lg  btn-info'
                        }
                    },
                    callback: function (result) {
                        if (result)
                            $("form").submit();
                    }
                }

            );
        });


    </script>
}

